.container {
    min-height: 50%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
}

.element {
    margin: 16px 0;
    position: relative;
}

.icon {
    position: absolute;
    left: -30px;
    top: 38%;
}
